alias wl='wc -l'
alias pym='python manage.py'

alias astronotify='xargs -I {} at now + {} minutes < <(echo "notify-send TROOPS")'

#alias astronotify='xargs -I {} at now + {} minutes < <(echo "notify-send TROOPS")'

if [ -x /usr/bin/dircolors ]; then
    alias egrep='egrep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias grep='grep --color=auto'

    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    #alias vdir='vdir --color=auto'
    #alias dir='dir --color=auto'
    alias ls='ls --color=auto'
fi

# enable color support of ls and also add handy aliases
alias l='ls -CF'
alias la='ls -A'
alias ll='ls -alFh'
# some more ls aliases

#VWH eng expands to LANGUAGE=en_US.UTF-8
alias eng='LANGUAGE=en_US.UTF-8'

#VWH alias `clear' clears the current shell
alias clear='echo -en "\ec"'

#ZSH specific aliases (will work for bash too, though they regard operations on the .zshrc file)
alias vz='vim ~/.zshrc'
alias sz='source ~/.zshrc'

#VWH ipython
alias ipy='ipython --profile=vardelean'

#VWH function opens a disowned process (that is, if the shell dies, it continues to live)
#usage: `x gedit'
function x { ($1 &>/dev/null &) }

#VWH delete .pyc files under provided directory
#Usage `delpyc .' or `delpyc /some/dir'
function delpyc {
    find $1 -name '*.pyc' -delete
}

#VWH find PID of process listening on given TCP port
#Usage: `wholisten 9876'
#Explanations: `netstat -tlpn` #- all processess listening on TCP ports
#tr -s ' ' #- squashes spaces in the string
#xargs #-trims the string
function wholisten { netstat -tlpn|grep $1| tr -s ' '|rev|xargs|cut -d' ' -f1|rev|cut -d'/' -f1 }

#VWH kill the process that listens on the provided port
function killlisten { kill -9 `wholisten $1`}

function clickill(){
python -c "import autopy, time
print('i am inside the script')
for _ in range($1):
    print('i am inside the loop')
    autopy.mouse.click()
    time.sleep(0.05)
    print('i am at the end of the loop')
"
}
alias ck=clickill

#VWH Local aliases (not portable by definition)
source ~/.local_aliases
