alias wl='wc -l'
alias pym='python manage.py'

alias astronotify='xargs -I {} at now + {} minutes < <(echo "notify-send TROOPS")'

#alias astronotify='xargs -I {} at now + {} minutes < <(echo "notify-send TROOPS")'

if [ -x /usr/bin/dircolors ]; then
    alias egrep='egrep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias grep='grep --color=auto'

    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    #alias vdir='vdir --color=auto'
    #alias dir='dir --color=auto'
    alias ls='ls --color=auto'
fi

# enable color support of ls and also add handy aliases
alias l='ls -CF'
alias la='ls -A'
alias ll='ls -alFh'
# some more ls aliases

#VWH eng expands to LANGUAGE=en_US.UTF-8
alias eng='LANGUAGE=en_US.UTF-8'

#VWH alias `clear' clears the current shell
alias clear='echo -en "\ec"'

#ZSH specific aliases (will work for bash too, though they regard operations on the .zshrc file)
alias vz='vim ~/.zshrc'
alias sz='source ~/.zshrc'

#VWH ipython
alias ipy='ipython --profile=vardelean'

#VWH function opens a disowned process (that is, if the shell dies, it continues to live)
#usage: `x gedit'
function x { ($1&) }
